<h4>Forms - Template Validations</h4>
<hr>
<form (ngSubmit)="Send(form)" #form="ngForm">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">First Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="First Name" name="firstName" ngModel minlength="6" value="" required #firstName="ngModel">
                <div *ngIf="firstName.errors?.required">
                    Field required
                </div>
                <div *ngIf="firstName.errors?.minlength">
                    Min length is {{firstName.errors.minlength.requiredLength}}
                </div>

            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Last Name</label>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Last Name" name="lastName" ngModel minlength="6" required #lastName="ngModel">
                <div *ngIf="lastName.errors?.required">Field required</div>
                <!-- <div>Min length is {{lastName.errors.minlength.requiredLength}} </div> -->
                <div *ngIf="lastName.errors?.minlength">
                    Min length is {{lastName.errors.minlength.requiredLength}}
                </div>


            </div>

        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="email" name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">

                <div *ngIf="email.errors?.required">
                    Field required
                </div>
                <div *ngIf="email.errors?.pattern">Bad Format</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Country</label>
            <div class="col-md-8">
                <select name="Country" class="custom-select" [(ngModel)]="usuario.country">
                    <option value="">"Select your country"</option>
                    <option *ngFor ="let c of countrys" 
                    
                        [value]="c.id">{{c.name}}</option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Profession</label>
            <div class="col-md-8">
                <select name="profession" class="custom-select" [(ngModel)]="usuario.profession">
                    <option value="">Select your Profession</option>
                    <option *ngFor ="let i of profession" 
                        [value]="i.id">{{i.name}}</option>
                </select>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Sex</label>
            <div class="col-md-8">
                <label class="custom-control custom-radio">
                        <input 
                            id="radio1" 
                            name="sex" 
                            type="radio" 
                            class="custom-control-input"
                            [(ngModel)] ="usuario.sex"
                            value="Male"
                        >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Male</span>
                    </label>
                <label class="custom-control custom-radio">
                            <input 
                            id="radio2" 
                            name="sex" 
                            type="radio" 
                            class="custom-control-input"
                            [(ngModel)] ="usuario.sex"
                            value="Female"
                        >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Female</span>
                    </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Site</label>
            <div class="col-md-8">
                <label class="custom-control custom-radio" *ngFor="let i of site ">
                            <input 
                                id="site1" 
                                name="site" 
                                type="radio" 
                                class="custom-control-input"
                                [(ngModel)] ="usuario.site"
                                [value]="i"
                            >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{i}}</span>
                    </label>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Accept</label>
            <div class="col-md-8">
                <label class="custom-control custom-checkbox">
                            <input 
                                type="checkbox" 
                                class="custom-control-input"
                                name ="accept"
                                [(ngModel)]="usuario.accept"
                                
                            >
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Accept terms and conditions</span>
                    </label>
            </div>
        </div>




        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outlet-primary" [disabled]="!form.valid">Send</button>
            </div>
        </div>

    </div>

</form>
<pre>
        {{usuario | json}}
</pre>